{% extends "base.html" %}

{% block content %}
<header class="tc ph4">
  <h2 class="mt1 mb0 f4 fw3 ttu tracked"><strong><emphasis>Books for {{ category.book_category }} Category:</emphasis></strong></h2>
<ul>
    <p class="f5 lh-copy measure">
    {% for book in category.book_set.all %}
    <p><br>
      <div class="normal f3"><a href="{{ book.get_absolute_url }}">{{ book.book_title}}</a><span class="f4"> by {{ book.book_author }}</span></div>
    <p>
        <i>{{ book.book_description }}</i>
    </p>
    <p>
      |  Added to Database: {{ book.db_date_added }}  
    </p>
    </p>
    {% endfor %}   
</ul>  
{% endblock %}