{% extends "base.html" %}

{% block content %}
  <h1>Freeshelf</h1>
  <p>Welcome to Freeshelf, a website developed by <em>Michael Pham</em>!</p>
  <br>
  <p>Freeshelf has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Categories:</strong> {{ num_categories }}</li>
  </ul>
  <div>
    <div class="category_list">
      <h4>Books by Category: 
        {% if different_categories %}
          {% for category in different_categories %}
              <a href="{{ category.get_absolute_url }}">{{ category.book_category }}</a>
            {% if not forloop.last %} | {% endif %}
          {% endfor %}
        {% endif %}
      </h4>
    </div>
  </div>

  <h2>Most Recently Added Books:</h2>
  <ul>
      {% for book in recently_added_books %}
        <p><br>
          <a href="{{ book.book_url }}">{{ book.book_title}}</a> by {{ book.book_author }}
        <p>
          {{ book.book_description }}
        </p>
        <p>
          Favorite  |   Added to Database: {{ book.db_date_added }}  |  Category: {{ book.book_category.get }}
        </p>
      {% endfor %}
  </ul>
{% endblock %}

