{% extends "base.html" %}

{% block content %}

<header class="tc ph4">
    <div><br><br><br>
    <h1 class="mt1 mb0 f4 fw3 ttu tracked">
      Our Database Currently Contains:
    </h1>
    <h4 class="mt2 mb0 f6 fw4 ttu tracked">
        <ul>
            <p>{{ num_books }} Books</p>
            <p>{{ num_authors }} Authors</p>
            <p>{{ num_categories }} Programming Categories</p>
        </ul>
    </h4>
    </div>
  </header>
  <header class="bg-white black-80 tc pv4 avenir">
      <nav class="bt bb tc mw7 center mt4">
          <h4>Books by Category: 
              {% if different_categories %}
                {% for category in different_categories %}
                    <a class="f6 f5-l link bg-animate blue-80 hover-bg-blue dib pa3 ph4-l" href="{{ category.get_absolute_url }}">{{ category.book_category }}</a>
                  {% if not forloop.last %} | {% endif %}
                {% endfor %}
              {% endif %}
          </h4>
      </nav>
  <br><br>
  <header class="tc ph4">
    <h2 class="mt1 mb0 f4 fw3 ttu tracked"><strong><emphasis>Most Recently Added Books:</emphasis></strong></h2>
    <ul>
            <p class="f5 lh-copy measure">
                {% for book in recently_added_books %}
                <p><br>
                  <div class="normal f3"><a href="{{ book.book_url }}">{{ book.book_title}}</a><span class="f4"> by {{ book.book_author }}</span></div>
                <p>
                  <i>{{ book.book_description }}</i>
                </p>
                {% if request.user.is_authenticated and request.user not in book.book_favorite.all %}
                <a href="{% url 'favorite-book' book.pk %}?next={{ request.path }}">Add to Favorite Books</a>   |   Added to Database: {{ book.db_date_added }}  |  Category: {{ book.book_category.get }}
                {% elif request.user.is_authenticated and request.user in book.book_favorite.all %}
                <a href="{% url 'favorite-book' book.pk %}?next={{ request.path }}">Remove from Favorite Books</a>   |   Added to Database: {{ book.db_date_added }}  |  Category: {{ book.book_category.get }}
                {% endif %}
              {% endfor %}
            </p>
    </ul>
  </header>
{% endblock %}

